build/
lib/*.jar
target
samples/scala-play2/logs
.idea
.idea_modules
.settings
.project
.classpath
.cache
atlassian-ide-plugin.xml
*.iml
.java-version
sonar-project.properties
*.ipr
*.iws
.DS_Store
dependency-reduced-pom.xml
*.pyc
/bin/
